module github.com/mattsolo1/{{.RepoName}}

go {{.GoVersion}}

require (
	github.com/mattsolo1/grove-core {{.CoreVersion}}
	github.com/mattsolo1/grove-tend {{.TendVersion}}
	github.com/spf13/cobra v1.9.1
)